<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
%sql sqlite:///my_data1.db

Connecting to 'sqlite:///my_data1.db'

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [5]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Running query in 'sqlite:///my_data1.db'

++
||
++
++

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [6]:
%%sql

select distinct Launch_Site
from SPACEXTABLE

Running query in 'sqlite:///my_data1.db'

+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [7]:
%%sql

select *
from SPACEXTABLE
where Launch_Site like 'CCA%'
limit 5

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-04-06 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-08-12 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  07:44:00  |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-08-10 |  00:35:00  |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-01-03 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%%sql

select Booster_Version, customer, sum(PAYLOAD_MASS__KG_) as total_payload_mass
from SPACEXTABLE
where customer like '%NASA%CRS%'
group by Booster_Version

Running query in 'sqlite:///my_data1.db'

+-----------------+-----------------------+--------------------+
| Booster_Version |        Customer       | total_payload_mass |
+-----------------+-----------------------+--------------------+
|  F9 B4  B1039.2 |       NASA (CRS)      |        2647        |
|  F9 B4 B1039.1  |       NASA (CRS)      |        3310        |
|  F9 B4 B1045.2  |       NASA (CRS)      |        2697        |
|  F9 B5 B1056.2  |       NASA (CRS)      |        2268        |
|  F9 B5 B1058.4  |       NASA (CRS)      |        2972        |
|  F9 B5 B1059.2  |       NASA (CRS)      |        1977        |
|    F9 B5B1050   |       NASA (CRS)      |        2500        |
|  F9 B5B1056.1   |       NASA (CRS)      |        2495        |
|   F9 B5B1059.1  | NASA (CRS), Kacific 1 |        2617        |
|  F9 FT  B1035.2 |       NASA (CRS)      |        2205        |
+-----------------+-----------------------+--------------------+
Truncated to displaylimit of 10.

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [9]:
%%sql

select Booster_Version, avg(PAYLOAD_MASS__KG_) as average_payload_mass 
from SPACEXTABLE
where Booster_Version like 'F9 v1.1%'
group by Booster_Version

Running query in 'sqlite:///my_data1.db'

+-----------------+----------------------+
| Booster_Version | average_payload_mass |
+-----------------+----------------------+
|     F9 v1.1     |        2928.4        |
|  F9 v1.1  B1003 |        500.0         |
|  F9 v1.1 B1010  |        2216.0        |
|  F9 v1.1 B1011  |        4428.0        |
|  F9 v1.1 B1012  |        2395.0        |
|  F9 v1.1 B1013  |        570.0         |
|  F9 v1.1 B1014  |        4159.0        |
|  F9 v1.1 B1015  |        1898.0        |
|  F9 v1.1 B1016  |        4707.0        |
|  F9 v1.1 B1017  |        553.0         |
+-----------------+----------------------+
Truncated to displaylimit of 10.

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [10]:
%%sql 

select *, min('Date')
from SPACEXTABLE
where Landing_Outcome == 'Success'

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+--------------+-------------+-------------------+-------+----------+-----------------+-----------------+-------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site  |   Payload   | PAYLOAD_MASS__KG_ | Orbit | Customer | Mission_Outcome | Landing_Outcome | min('Date') |
+------------+------------+-----------------+--------------+-------------+-------------------+-------+----------+-----------------+-----------------+-------------+
| 2018-07-22 |  05:50:00  |   F9 B5B1047.1  | CCAFS SLC-40 | Telstar 19V |        7075       |  GTO  | Telesat  |     Success     |     Success     |     Date    |
+------------+------------+-----------------+--------------+-------------+-------------------+-------+----------+-----------------+-----------------+-------------+

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%%sql

select Booster_Version, PAYLOAD_MASS__KG_, landing_outcome
from SPACEXTABLE
where (PAYLOAD_MASS__KG_> 4000) and (PAYLOAD_MASS__KG_ < 6000) 
     and landing_outcome like '%success%drone%'

Running query in 'sqlite:///my_data1.db'

+-----------------+-------------------+----------------------+
| Booster_Version | PAYLOAD_MASS__KG_ |   Landing_Outcome    |
+-----------------+-------------------+----------------------+
|   F9 FT B1022   |        4696       | Success (drone ship) |
|   F9 FT B1026   |        4600       | Success (drone ship) |
|  F9 FT  B1021.2 |        5300       | Success (drone ship) |
|  F9 FT  B1031.2 |        5200       | Success (drone ship) |
+-----------------+-------------------+----------------------+

### Task 7




##### List the total number of successful and failure mission outcomes

In [12]:
%%sql

select *    
from (select count(distinct(landing_outcome)) as successful_outcomes 
      from SPACEXTABLE
      where landing_outcome like '%success%'),

      (select count(distinct(landing_outcome)) as unsuccessful_outcomes 
      from SPACEXTABLE
      where landing_outcome like '%failure%')

Running query in 'sqlite:///my_data1.db'

+---------------------+-----------------------+
| successful_outcomes | unsuccessful_outcomes |
+---------------------+-----------------------+
|          3          |           3           |
+---------------------+-----------------------+

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
%%sql

select *
from SPACEXTABLE
where PAYLOAD_MASS__KG_ = (
    select max(PAYLOAD_MASS__KG_)
    from SPACEXTABLE)

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+--------------+----------------------------------------------------+-------------------+-------+---------------------+-----------------+-----------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site  |                      Payload                       | PAYLOAD_MASS__KG_ | Orbit |       Customer      | Mission_Outcome | Landing_Outcome |
+------------+------------+-----------------+--------------+----------------------------------------------------+-------------------+-------+---------------------+-----------------+-----------------+
| 2019-11-11 |  14:56:00  |  F9 B5 B1048.4  | CCAFS SLC-40 |          Starlink 1 v1.0, SpaceX CRS-19            |       15600       |  LEO  |        SpaceX       |     Success     |     Success     |
| 2020-07-01 |  02:33:00  |  F9 B5 B1049.4  | CCAFS SLC-40 | Starlink 2 v1.0, Crew Dragon in-flight abort test  |       15600       |  LEO  |        SpaceX       |     Success     |     Success     |
| 2020-01-29 |  14:07:00  |  F9 B5 B1051.3  | CCAFS SLC-40 |         Starlink 3 v1.0, Starlink 4 v1.0           |       15600       |  LEO  |        SpaceX       |     Success     |     Success     |
| 2020-02-17 |  15:05:00  |  F9 B5 B1056.4  | CCAFS SLC-40 |           Starlink 4 v1.0, SpaceX CRS-20           |       15600       |  LEO  |        SpaceX       |     Success     |     Failure     |
| 2020-03-18 |  12:16:00  |  F9 B5 B1048.5  |  KSC LC-39A  |         Starlink 5 v1.0, Starlink 6 v1.0           |       15600       |  LEO  |        SpaceX       |     Success     |     Failure     |
| 2020-04-22 |  19:30:00  |  F9 B5 B1051.4  |  KSC LC-39A  |        Starlink 6 v1.0, Crew Dragon Demo-2         |       15600       |  LEO  |        SpaceX       |     Success     |     Success     |
| 2020-04-06 |  01:25:00  |  F9 B5 B1049.5  | CCAFS SLC-40 |          Starlink 7 v1.0, Starlink 8 v1.0          |       15600       |  LEO  | SpaceX, Planet Labs |     Success     |     Success     |
| 2020-03-09 |  12:46:14  |  F9 B5 B1060.2  |  KSC LC-39A  |        Starlink 11 v1.0, Starlink 12 v1.0          |       15600       |  LEO  |        SpaceX       |     Success     |     Success     |
| 2020-06-10 |  11:29:34  |  F9 B5 B1058.3  |  KSC LC-39A  |        Starlink 12 v1.0, Starlink 13 v1.0          |       15600       |  LEO  |        SpaceX       |     Success     |     Success     |
| 2020-10-18 |  12:25:57  |  F9 B5 B1051.6  |  KSC LC-39A  |        Starlink 13 v1.0, Starlink 14 v1.0          |       15600       |  LEO  |        SpaceX       |     Success     |     Success     |
+------------+------------+-----------------+--------------+----------------------------------------------------+-------------------+-------+---------------------+-----------------+-----------------+
Truncated to displaylimit of 10.

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [14]:
%%sql

select substr(Date, 6,2) as Month, Date, Landing_Outcome, Booster_Version, Launch_Site
from (select *, substr(Date, 1,4) as Year
      from SPACEXTABLE)
where Landing_Outcome like '%failure%drone%' 
      and Year='2015'

Running query in 'sqlite:///my_data1.db'

+-------+------------+----------------------+-----------------+-------------+
| Month |    Date    |   Landing_Outcome    | Booster_Version | Launch_Site |
+-------+------------+----------------------+-----------------+-------------+
|   10  | 2015-10-01 | Failure (drone ship) |  F9 v1.1 B1012  | CCAFS LC-40 |
|   04  | 2015-04-14 | Failure (drone ship) |  F9 v1.1 B1015  | CCAFS LC-40 |
+-------+------------+----------------------+-----------------+-------------+

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [15]:
%%sql

select Date, Landing_Outcome, count(*) as count_landing_outcomes
from SPACEXTABLE
where Date between '2010-06-04' and '2017-03-20'
group by Landing_Outcome
order by count_landing_outcomes desc

Running query in 'sqlite:///my_data1.db'

+------------+------------------------+------------------------+
|    Date    |    Landing_Outcome     | count_landing_outcomes |
+------------+------------------------+------------------------+
| 2012-05-22 |       No attempt       |           10           |
| 2015-12-22 |  Success (ground pad)  |           5            |
| 2016-08-04 |  Success (drone ship)  |           5            |
| 2015-10-01 |  Failure (drone ship)  |           5            |
| 2014-04-18 |   Controlled (ocean)   |           3            |
| 2013-09-29 |  Uncontrolled (ocean)  |           2            |
| 2015-06-28 | Precluded (drone ship) |           1            |
| 2010-08-12 |  Failure (parachute)   |           1            |
+------------+------------------------+------------------------+

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>